.section {
  padding: 2rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 2rem;
}

.chartContainer,
.mapContainerWrapper {
  width: 100%;
  min-width: 400px;
}

.mapContainer {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .mapContainer {
    height: 300px;
  }
}
